/* 
   این فایل شامل تمام استایل‌های برنامه است
   CSS فایل‌های جداگانه در پوشه css/ نیز وجود دارند
   این فایل برای compatibility است
*/

/* import تمام CSS فایل‌ها */
@import url("css/variables.css");
@import url("css/base.css");
@import url("css/components.css");
@import url("css/forms.css");
@import url("css/quiz.css");
@import url("css/education.css");
@import url("css/game.css");
@import url("css/navigation.css");
@import url("css/modals.css");
